<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
  </head>
  <body>
    <h1 style="text-align: center" th:text="${header}"></h1><br/>
    <div style="text-align: center">
      <form th:action="@{/user/create}" method="get">
        <input type="hidden" name="user_type" th:value="${user_type}" />
        <input type="submit" th:value="Create + ' ' + ${user_type}" />
      </form>
    </div><br/>
    <table style="margin: auto;">
      <tr>
        <td style="width: 50px; text-align: center; font-weight: bold">id</td>
        <td style="width: 200px; text-align: center; font-weight: bold">First Name</td>
        <td style="width: 200px; text-align: center; font-weight: bold">Last Name</td>
        <td style="width: 270px; text-align: center; font-weight: bold">Actions</td>
      </tr>
    </table><br/>
    <table style="margin: auto;" th:each="user:${users}">
      <tr>
        <td style="width: 50px; text-align: center" th:text="${user.getId()}"></td>
        <td style="width: 200px; text-align: center" th:text="${user.getFirstName()}"></td>
        <td style="width: 200px; text-align: center" th:text="${user.getLastName()}"></td>
        <td style="width: 50px; text-align: center" >
          <form th:action="@{/user/update}" method="get">
            <input type="hidden" name="user_type" th:value="${user_type}" />
            <input type="hidden" name="id" th:value="${user.getId()}" />
            <input type="submit" value="Update" />
          </form>
        </td>
        <td style="width: 50px; text-align: center" >
          <form th:action="@{/user/delete}" method="post">
            <input type="hidden" name="user_type" th:value="${user_type}" />
            <input type="hidden" name="id" th:value="${user.getId()}" />
            <input type="submit" value="Delete" />
          </form>
        </td>
        <td style="width: 150px; text-align: center">
          <form th:action="@{/user}" method="get">
            <input type="hidden" name="user_type" th:value="${user_type}" />
            <input type="hidden" name="id" th:value="${user.getId()}" />
            <div style="text-align: center" th:switch="${user_type}">
              <span th:case="'Teacher'">
                <input type="submit" value="Go to Teacher Page" />
              </span>
              <span th:case="'Student'">
                <input type="submit" value="Go to Student Page" />
              </span>
            </div>
          </form>
        </td>
      </tr>
    </table>
    <div th:insert="go_to_main_page.html"></div>
  </body>
</html>