<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Update Event</title>
  </head>
  <body>
    <h1 style="text-align: center">Update Event</h1>
    <form th:action="@{/event/update}" method="post">
      <table style="margin: auto">
        <tr>
          <td style="width: 100px; text-align: right">Event id:</td>
          <td style="width: 200px; text-align: left">
            <input style="width: 100%" type="text" name="id"
                    th:value="${event.getId()}" disabled/>
            <input style="width: 100%" type="hidden" name="id"
                   th:value="${event.getId()}" />
          </td>
        </tr>
        <tr>
          <td style="width: 100px; text-align: right">Date of Event:</td>
          <td style="width: 200px; text-align: left">
            <input style="width: 100%" type="date" id="date_of_event"
                   name="date_of_event" th:value="${event.dayOfEvent}"
                   th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />
          </td>
        </tr>
        <tr>
          <td style="width: 100px; text-align: right">Start Time:</td>
          <td style="width: 200px; text-align: left">
            <select name="start_time" style="width:100%">
              <option value="09_00">09:00</option>
              <option value="11_00">11:00</option>
              <option value="13_00">13:00</option>
              <option value="15_00">15:00</option>
              <option value="17_00">17:00</option>
            </select>
          </td>
        </tr>
        <tr>
          <td style="width: 100px; text-align: right">Course Name:</td>
          <td style="width: 200px; text-align: left">
            <select name="course_id" style="width:100%">
              <div th:each="course:${courses}">
                <option th:value="${course.getId()}" th:text="${course.getName()}"
                        th:selected="${course.getId() == event.getCourse().getId()}"></option>
              </div>
            </select>
          </td>
        </tr>
        <tr>
          <td style="width: 100px; text-align: right">Classroom:</td>
          <td style="width: 200px; text-align: left">
            <select name="classroom_id" style="width:100%">
              <div th:each="classroom:${classrooms}">
                <option th:value="${classroom.getId()}" th:text="${classroom.getName()}"
                        th:selected="${classroom.getId() == event.getClassRoom().getId()}"></option>
              </div>
            </select>
          </td>
        </tr>
      </table>
      <div style="text-align: center">
        <input type="submit" value="Update" />
      </div>
    </form>
    <br/><br/>
    <div style="text-align: center">
      <button onclick="location.href='../events'">Back to Events Page</button>
    </div>
  </body>
</html>