<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Courses</title>
  </head>
  <body>
    <h1 style="text-align: center">List of All Courses</h1>
    <div style="text-align: center">
      <button onclick="location.href='./course/create'">Create Course</button>
    </div><br/>
    <table style="margin: auto;">
      <tr>
        <td style="width: 50px; text-align: center; font-weight: bold">id</td>
        <td style="width: 150px; text-align: center; font-weight: bold">Course Name</td>
        <td style="width: 600px; text-align: center; font-weight: bold">Course Description</td>
        <td style="width: 120px; text-align: center; font-weight: bold">Actions</td>
      </tr>
    </table><br/>
    <table style="margin: auto;" th:each="course:${courses}">
      <tr>
        <td style="width: 50px; text-align: center" th:text="${course.getId()}"></td>
        <td style="width: 150px; text-align: center" th:text="${course.getName()}"></td>
        <td style="width: 600px; text-align: center" th:text="${course.getDescription()}"></td>
        <td style="width: 50px; text-align: center" >
          <form th:action="@{/course/update}" method="get">
            <input type="hidden" name="id" th:value="${course.getId()}" />
            <input type="submit" value="Update" />
          </form>
        </td>
        <td style="width: 50px; text-align: center" >
          <form th:action="@{/course/delete}" method="post">
            <input type="hidden" name="id" th:value="${course.getId()}" />
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
    </table>
    <div th:insert="go_to_main_page.html"></div>
  </body>
</html>