<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>University</title>
  </head>
  <body>
    <h1 style="text-align: center">Welcome to the University</h1>
    <div style="text-align: center">
      <button onclick="location.href='./students'">Get list of All Students</button>
      <button onclick="location.href='./teachers'">Get list of All Teachers</button>
    </div>
    <br/>
    <div style="text-align: center">
      <button onclick="location.href='./faculties'">Faculties</button>
      <button onclick="location.href='./classrooms'">Classrooms</button>
      <button onclick="location.href='./courses'">Courses</button>
      <button onclick="location.href='./events'">Events</button>
    </div>
  </body>
</html>
