<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>[[|${user_type} ${user.getFirstName()} ${user.getLastName()}|]]</title>
  </head>
  <body>
    <h1 style="text-align: center">
        [[|${user_type} ${user.getFirstName()} ${user.getLastName()}|]] Courses</h1><br/>
    <table style="margin: auto;">
      <tr>
        <td style="width: 100px; text-align: center; font-weight: bold">id</td>
        <td style="width: 200px; text-align: center; font-weight: bold">Course Name</td>
        <td style="width: 500px; text-align: center; font-weight: bold">Course Description</td>
      </tr>
    </table><br/>
    <table style="margin: auto;" th:each="course:${courses}">
      <tr>
        <td style="width: 100px; text-align: center" th:text="${course.getId()}"></td>
        <td style="width: 200px; text-align: center" th:text="${course.getName()}"></td>
        <td style="width: 500px; text-align: center" th:text="${course.getDescription()}"></td>
      </tr>
</table>
    <br/><br/>
    <div style="text-align: center">
      <form th:action="@{/timetable}" method="get">
        <input type="hidden" name="user_type" th:value="${user_type}" />
        <input type="hidden" name="id" th:value="${user.getId()}" />
        <input type="hidden" name="start_date"
              th:value="${#dates.format(#dates.create(2022,5,30), 'yyyy-MM-dd')}" />
        <input type="hidden" name="end_date"
              th:value="${#dates.format(#dates.create(2022,6,3), 'yyyy-MM-dd')}" />
        <input type="submit" value="Go to Timetable" />
      </form>
    </div>
    <br/><br/>
    <div style="text-align: center">
      <button onclick="location.href='./'">Go to Main Page</button>
    </div>
  </body>
</html>